
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead","Default")
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    @Html.Action("PartialNavbar", "Default")

    @Html.Action("PartialFeature", "Default")

    @Html.Action("PartialStatistic", "Default")
    <section class="ftco-about ftco-section ftco-no-pt ftco-no-pb" id="about-section">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-6 col-lg-5 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center" style="background-image: url(/Template/clyde-master/images/pp3.jpg);">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
                    <div class="py-md-5">
                        <div class="row justify-content-start pb-3">
                            <div class="col-md-12 heading-section ftco-animate">
                                @Html.Action("PartialAbout", "Default")
                                @Html.Action("PartialProfile", "Default")
                                @Html.Action("PartialHobby", "Default")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
              
    </section>
    @Html.Action("PartialSkill", "Default")
    @Html.Action("PartialService", "Default")

    <section class="ftco-hireme">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8 col-lg-8 d-flex align-items-center">
                    <div class="w-100 py-4">
                        <h2>Kafanızda bir proje planınız mı var?</h2>
                        <p>Bazı konularda eksik mi hissediyorsunuz?</p>
                        <p class="mb-0"><a href="#home-section" class="btn btn-white py-3 px-4">Bana ulaşın.</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 d-flex align-items-end">
                    <img src="." class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    @Html.Action("PartialProject", "Default")
    @Html.Action("PartialTestimonial", "Default")

    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading">İletişime Geçin</span>
                    <h2 class="mb-4">Projeniz mi var?</h2>
                    <p>Aşağıdaki formu doldurarak bana ulaşabilirsiniz.</p>
                </div>
            </div>
        </div>
    </section>

    @Html.Action("PartialContact", "Default")

    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Bizimle iletişime geçin</h2>
                        <p>En kısa sürede fikir ve projeleriniz için dönüş yapılacaktır.</p>
                        <p><a href="#contact-section" class="btn btn-primary">Daha fazlası için</a></p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Bağlantılar</h2>
                        <ul class="list-unstyled">
                            <li><a href="#home-section"><span class="fa fa-chevron-right mr-2"></span>Anasayfa</a></li>
                            <li><a href="#about-section"><span class="fa fa-chevron-right mr-2"></span>Hakkında</a></li>
                            <li><a href="#services-section"><span class="fa fa-chevron-right mr-2"></span>Servislerim</a></li>
                            <li><a href="#projects-section"><span class="fa fa-chevron-right mr-2"></span>Projelerim</a></li>
                            <li><a href="#contact-section"><span class="fa fa-chevron-right mr-2"></span>İletişim</a></li>
                        </ul>
                    </div>
                </div>
                @Html.Action("PartialFooterService", "Default")
                
                @Html.Action("PartialAdress", "Default")

                @Html.Action("PartialSocialMedia", "Default")
            </div>
                   </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <p>          
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır. | Bu proje AcunMedya aracılığıyla yapıldı.
                    </p>
                </div>
            </div>
    </footer>
    @Html.Action("PartialScript", "Default")

</body>
</html>