@model List<AcunMedyaAkademiPortfolio.Models.TblProfile>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h2>Profiller</h2>
<table class="table table-bordered">
    <tr>
        <th>Profil ID</th>
        <th>İsim</th>
        <th>Adres</th>
        <th>Telefon Numarası</th>
        <th>E-Mail</th>
        <th>Doğum Tarihi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProfileId</td>
            <td>@item.Name</td>
            <td>@item.Adress</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Email</td>
            <td>@item.Birthday</td>
            <td><a href="/Profile/UpdateProfile/@item.ProfileId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Profile/DeleteProfile/@item.ProfileId" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>

<td><a href="/Profile/CreateProfile" class="btn btn-success">Yeni Profil Ekle</a></td>
