@model  AcunMedyaAkademiPortfolio.Models.TblAdress
@{
    ViewBag.Title = "CreateAdress";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Adres Ekleme</h2>
<form method="post">
    <label>Adres ID</label>
    @Html.TextBoxFor(x => x.AdressId, new { @class = "form-control" })

    <label>Adres</label>
    @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })

    <label>Telefon</label>
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })

    <label>Email</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })

    <label>Website</label>
    @Html.TextBoxFor(x => x.Website, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Adresi Kaydet</button>
</form>

