@model List<AcunMedyaAkademiPortfolio.Models.TblTestimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Image Url</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.testimonialId</td>
            <td>@item.testimonialName</td>
            <td>@item.testimonialTitle</td>
            <td>@item.testimonialDescription</td>
            <td>@item.testimonialImageUrl</td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.testimonialId"class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.testimonialId"class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>

<td><a href="/Testimonial/CreateTestimonial" class="btn btn-success">Yeni Referans Ekle</a></td>
