
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="alert alert-danger">Kategori Sayısı = @ViewBag.categoryCount</div>
<div class="alert alert-warning">Proje Sayısı = @ViewBag.projectCount</div>
<div class="alert alert-success">Yetenek Sayısı = @ViewBag.skillCount</div>
<div class="alert alert-dark">Ortalama Yetenek Puanı = @ViewBag.skillAvgValue</div>
<div class="alert alert-primary">Son Eklenen Yetenek = @ViewBag.lastSkillTitleName</div>
<div class="alert alert-info">Backend Development  = @ViewBag.mvcCategoryProjectCount</div>
<div class="alert alert-danger">Mobile Development  = @ViewBag.mvcCategoryProjectCount2</div>
<div class="alert alert-dark">Game Development  = @ViewBag.mvcCategoryProjectCount3</div>
<div class="alert alert-info">UI/UX Designer  = @ViewBag.mvcCategoryProjectCount4</div>
<div class="alert alert-secondary">Cybersecurity = @ViewBag.mvcCategoryProjectCount5</div>

